<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keanntech.provider.admin.mapper.SysUserMapper">
    <resultMap id="SysUserResultMap" type="com.keanntech.common.model.po.SysUser">
        <id column="id" property="id" javaType="Long"></id>
        <result column="create_id" property="createId" javaType="Long"></result>
        <result column="update_id" property="updateId" javaType="Long"></result>
        <result column="create_date" property="createDate" javaType="java.sql.Timestamp"></result>
        <result column="update_date" property="updateDate" javaType="java.sql.Timestamp"></result>
        <result column="last_login_date" property="lastLoginDate" javaType="java.sql.Timestamp"></result>
        <result column="remark" property="remark"></result>
        <result column="deleted" property="deleted"></result>
        <result column="user_name" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="super_admin" property="superAdmin"></result>
        <result column="enabled" property="enabled"></result>
        <result column="account_non_expired" property="accountNonExpired"></result>
        <result column="credentials_non_expired" property="credentialsNonExpired"></result>
        <result column="account_non_locked" property="accountNonLocked"></result>
        <association
                property="sysCompany" javaType="com.keanntech.common.model.po.SysCompany"
                column="{userId=id}" select="com.keanntech.provider.admin.mapper.SysCompanyMapper.selectOneByUserId" />
        <association
                property="employee"
                column="{userId=id}" javaType="com.keanntech.common.model.po.SysEmployee"
                select="com.keanntech.provider.admin.mapper.SysEmployeeMapper.selectOneByUserId" />
        <collection property="userRoles" column="{userId=id}" ofType="com.keanntech.common.model.po.SysRole" select="com.keanntech.provider.admin.mapper.SysRoleMapper.loadSysRoleByUserId" />
    </resultMap>

    <select id="loadUserByUserName" resultMap="SysUserResultMap">
        SELECT u.id, u.super_admin, u.admin, u.last_login_date, u.user_name, u.enabled from sys_user u WHERE user_name = #{userName} AND deleted = 0
    </select>

    <select id="loadUserByJobNumber" resultMap="SysUserResultMap">
        SELECT u.id, u.super_admin, u.admin, u.last_login_date, u.user_name, u.enabled from sys_user u WHERE job_number = #{jobNumber} AND deleted = 0
    </select>

    <select id="loadAllUsers" resultMap="SysUserResultMap" resultType="java.util.List">
        SELECT u.id, u.job_number, u.last_login_date, u.user_name, u.name, u.email, u.mobile, u.enabled, u.sys_company_id
        FROM sys_user u WHERE u.deleted = 0 AND u.super_admin = 0 AND u.admin = 0 AND u.sys_company_id = #{companyId}
        <if test="sysUser.userName != null and sysUser.userName != ''">
            AND user_name LIKE concat(concat('%',#{sysUser.userName}),'%')
        </if>
    </select>

    <select id="loadAdmin" resultMap="SysUserResultMap" resultType="java.util.List">
        SELECT u.id, u.super_admin, u.admin, u.last_login_date, u.user_name, u.enabled FROM sys_user u WHERE u.deleted = 0 AND u.admin = 1 AND u.super_admin = 0
    </select>

    <insert id="saveUser">
        INSERT INTO
        sys_user (id,user_name,password,remark,super_admin,admin,
        last_login_date,create_id,update_id,create_date,update_date)
        VALUE (#{id},#{userName},#{password},#{remark},#{superAdmin},#{admin},
        #{lastLoginDate},#{createId},#{updateId},#{createDate},#{updateDate})
    </insert>

    <update id="updateUser">
        UPDATE sys_user
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="updateId != null">
                update_id = #{updateId},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="resetPassword">
        UPDATE sys_user
        <set>
            <if test="passWord != null and passWord != ''">
                password = #{passWord}
            </if>
        </set>
        WHERE user_name = #{userName}
    </update>

    <update id="updateEnabled">
        UPDATE sys_user
        <set>
            <if test="enabled != null">
                enabled = #{enabled}
            </if>
        </set>
        WHERE user_name = #{userName}
    </update>




</mapper>