<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keanntech.provider.admin.mapper.SysUserMapper">
    <resultMap id="SysUserResultMap" type="com.keanntech.common.model.po.SysUser">
        <id column="id" property="id"></id>
        <result column="create_id" property="createId"></result>
        <result column="update_id" property="updateId"></result>
        <result column="create_date" property="createDate"></result>
        <result column="update_date" property="updateDate"></result>
        <result column="last_login_date" property="lastLoginDate" javaType="java.sql.Timestamp"></result>
        <result column="remark" property="remark"></result>
        <result column="deleted" property="deleted"></result>
        <result column="user_name" property="userName"></result>
        <result column="password" property="password"></result>
        <result column="job_number" property="jobNumber"></result>
        <result column="name" property="name"></result>
        <result column="email" property="email"></result>
        <result column="phone" property="phone"></result>
        <result column="mobile" property="mobile"></result>
        <result column="photo" property="photo"></result>
        <result column="enabled" property="enabled"></result>
        <result column="sys_company_id" property="sysCompanyId"></result>
        <result column="account_non_expired" property="accountNonExpired"></result>
        <result column="credentials_non_expired" property="credentialsNonExpired"></result>
        <result column="account_non_locked" property="accountNonLocked"></result>
    </resultMap>

    <resultMap id="lazyLoadRoles" type="com.keanntech.common.model.po.SysUser" extends="SysUserResultMap">
        <collection property="userRoles" ofType="com.keanntech.common.model.po.SysRole" select="com.keanntech.provider.admin.mapper.SysUserMapper.getRolesById" column="id"></collection>
    </resultMap>

    <select id="loadUserByUserName" resultMap="lazyLoadRoles">
        SELECT * from sys_user WHERE user_name = #{userName}
    </select>

    <select id="loadUserByJobNumber" resultMap="SysUserResultMap">
        SELECT * from sys_user WHERE job_number = #{jobNumber}
    </select>

    <select id="loadAllUsers" resultMap="SysUserResultMap" resultType="java.util.List">
        SELECT u.id, u.job_number, u.last_login_date, u.user_name, u.name, u.email, u.mobile, u.enabled FROM sys_user u
    </select>

    <select id="getRolesById" resultType="com.keanntech.common.model.po.SysRole">
        SELECT role.* FROM sys_role role, sys_user_role_relation relation, sys_user user
        where user.id = relation.sys_user_id AND role.id = relation.sys_role_id AND user.id = #{id}
    </select>

    <insert id="saveUser">
        INSERT INTO
        sys_user (id,user_name,password,job_number,name,remark,email,phone,mobile,photo,
        last_login_date,enabled,create_id,update_id,create_date,update_date)
        VALUE (#{id},#{userName},#{password},#{jobNumber},#{name},#{remark},#{email},#{phone},#{mobile},#{photo},
        #{lastLoginDate},#{enabled},#{createId},#{updateId},#{createDate},#{updateDate})
    </insert>


</mapper>